* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Armata',
        sans-serif;
    color: cornsilk;
}

/* try adding background image */
/* page background color that doesn't affect nav*/
body {
    background-color: rgb(30, 30, 30);
}

a:visited {
    color: black;
}

/* my name size */
.header {
    color: cornsilk;
    font-size: x-large;
}

/* sub-header size */
.header h2 {
    font-size: larger;
}

.nav-bar {
    display: flex;
    background-color: rgb(77, 77, 77);
    font-size: larger;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    height: 60px;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.nav-bar li a {
    text-decoration: none;
    margin: 10px;
}

.banner img {
    width: 100%;
}