* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Armata',
        sans-serif;
    color: cornsilk;
}

/* try adding background image */
/* page background color that doesn't affect nav*/
body {
    background-color: rgb(30, 30, 30);
}

a:visited {
    color: black;
}

/* my name size */
.header {
    color: cornsilk;
    font-size: x-large;
}

/* sub-header size */
.header h2 {
    font-size: larger;
}

.nav-bar {
    display: flex;
    background-color: rgb(77, 77, 77);
    font-size: larger;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    height: 60px;
}

.nav-bar:hover {
    cursor: default;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.nav-bar li a {
    text-decoration: none;
    border-right: solid 1px black;
    padding-right: 3px;
    margin: 10px;

}

.nav-list:hover a {
    cursor: default;
    transition: 0.7s;
    color: cornsilk;
    background-color: black;
    border-radius: 10px;
    border-right: solid 5px cornsilk;
    padding: 15px;

}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me h2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-right: solid 1px cornsilk;
    padding-left: 5px;
    padding-right: 20px;
    align-items: center;
    font-size: x-large;
}

.about-me p {
    display: flex;
    justify-content: end;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects h2 {
    display: flex;
    border-right: solid 1px cornsilk;
    padding-left: 5px;
    padding-right: 20px;
    align-items: center;
    font-size: x-large;
}

.projects h3 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    border: solid 3px black;
    background-color: rgb(77, 77, 77);
    height: 40px;
}

.projects img {
    display: flex;
    border: solid 3px cornsilk;
}

.banner img {
    width: 100%;
}